.tabela {
    padding: 10px;
}

.tabela strong {
    color: #666;
    font-size: 19px;
}

table {
    width: 100%;
    margin-top: 30px;
}
table tr {
    padding-left: 0;
}

table th {
    background: #eee;
    text-align: left;
    padding-left: 10px;
    color: #666;
    font-weight: bold;
    font-size: 18px;
    border-width: 0px;
}

table tr:hover {
    background: #E1F2B6;
}

table td {
    padding: 8px 10px;
    font-size: 17px;
}

table a {
    color: #48802C;
    padding-right: 10px;
}

.pesquisa input{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.pesquisa button {
    margin-left: 10px;
}